/samples/sample_c/platform/rtos_freertos/stm32f4_discovery/project/mdk_bootloader
/samples/sample_c/platform/rtos_freertos/stm32f4_discovery/project/mdk
samples/sample_c/platform/rtos_freertos/stm32f4_discovery/application/dji_sdk_app_info.h